/* gh-chart */
.contribution-box {
  width: 85%;
  margin: 30px auto;
  overflow-x: scroll;
  border: 0.5px solid gray;
  border-radius: 5px;
}

.contribution-box__img {
  width: 900px;
  object-fit: cover;
}
