.profile-box {
  display: flex;
  justify-content: center;
  width: 85%;
  height: 150px;
  padding: 0;
  margin: 0 auto;
  border: 0.5px solid gray;
  border-radius: 5px;
}

.profile-box__img {
  display: block;
  width: 25%;
  height: 88%;
  padding: 0;
  margin: 10px;
}

.profile-box__comment {
  width: 75%;
  height: 90%;
  margin: auto 0 auto 0;
  font-size: 14px;
  line-height: normal;
  text-align: left;
  border-left: 0.5px dotted gray;
}

@media screen and (min-width: 768px) {
  .profile-box__comment {
    font-size: 18px;
  }
}
